body {
	margin: 0px;
	padding: 0px;
	height: 100%;
    font-family: 'Source Sans Pro', sans-serif;
}
.flexcontainer {
	height:100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}
#persondiv {
    top: 0px;
    left: 0px;
    width: 100vw;
    height: 100vh;
}
.centerdiv {
	position: absolute;
}

.person { 
}


.queueContents {
    height: 20px;
    width: 100px;
    padding: 5px 10px;
    border: 1px solid black;
}

.person {
    position: absolute;
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
    margin: 10px; 
    border: 10px solid white;
    border-radius: 45px;
    z-index: 10;
}

.person-inner {
	width: 50px;
	height: 50px;
	padding: 5px;
	border: 5px solid #37449E;
  background-color: white;
    border-radius: 45px;
    text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
    font-weight: bold;    
}
.person.speaking {
    border: 10px dotted #F7A738;
}

.person.speaking .person-inner {
    background-color: #37449E !important;
    color: white !important;
}

.person.highlight {
    border: 10px double #AAA;
}

.initials {
    font-size: 1.2em;
    line-height: 0.8em;
}

.firstname {
    font-size: 0.95em;
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;           /* Non-prefixed version, currently
                                  not supported by any browser */
}

