$person-border: black; 
$person-backg: black;
$person-color: white;

$person-speaking-backg: white;
$person-speaking-color: black; 
$person-speaking-border: orange;
$person-highlight-border: orange;

